.mainSection {
    width: max-content;
    height: max-content;
}

.mainSectionHeader {
    width: 800px;
    height: 40px;
    background-color: rgb(44, 44, 76);
    color: white;
    letter-spacing: 5px;
    margin: 0px 0px 20px;
    position: sticky;
    top: 0px;

    padding: 9px;
    box-sizing: border-box;
}
